.discount-products {

}

.discount-starburst {
    width: 230px;
    height: 210px;
    color: red;
    margin-left: 520px;
    margin-bottom: 30px;
}

.discount-products-carousel {
    display: flex;
    justify-content: center;
}

.carousel-image {
    margin-left: 50%;
}

.discount-icon-prev, .discount-icon-next  {
    width: 70px;
    height: 70px;
    color: whitesmoke;
}

.discount-icon-prev:hover, .discount-icon-next:hover  {
    border: whitesmoke 2px solid;
    padding: 100px 30px;
}

.prices-discounted-products {
    position: absolute;
    display: flex;
    flex-direction: column;
    top :70px;
    right: 150px;
    transform: rotate(20deg);
}

.new-discounted-price,.old-product-price {
    font-size: 20px;
    font-weight: 600;
}

.old-product-price {
    text-decoration: line-through;
    text-decoration-thickness: 4px;
}

.carousel-indicators {
    display: none;
}

.discount-product-text {
    display: flex;
    flex-direction: column;
    width: 330px;
    position: absolute;
    top: 100px;
    left: 140px;

}

.discount-product-view-product-button {
    position: absolute;
    white-space: nowrap;
    left: 140px;
    bottom: 0;
}

.discount-product-text {
    font-family: "Lato", serif;
    font-weight: 700;
    font-style: normal;
}

.discount-product-text-product-name {
    font-size: 24px;
    text-align: start;
    margin-left: 20px;
    margin-bottom: 12px;
}
.discount-product-text-description {
    text-align: start;
}

.category-section {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 15px;
}

.product-display {
    margin: 30px 10px;
    padding: 15px;
    width: 600px;
    height: fit-content;
    background: white;
}

.category-section-holder {
    min-width: 96%;
    height: fit-content;
    background-color: whitesmoke;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    scroll-margin: 20px;
}

.view-categories-products {
    margin-left: 20px;
    margin-top: 5px;
}