.main-header {
    background-color: rgb(65, 175, 231);
    color: whitesmoke;
}

.main-header-content-holder{
    display: flex;
    justify-content: space-evenly;
}


.app-logo {

}

.search-and-buttons {
    width: 60%;
}

.cart-icon,.user-account-icon  {
    width: 40px;
    height: 25px;
}

.search-icon {
    color: whitesmoke;
    width: 25px;
    height: 20px;
}

.header-end-icons {
    display: flex;
    align-self: end;
    justify-self: end;
    gap: 30%;
}

.user-account-button, .cart-button {
    background-color: rgb(65, 175, 231);
    border: rgb(65, 175, 231) 1px solid;
    padding: 2px;
    margin: 2px;
}

.user-account-button:hover, .cart-button:hover {
    background-color: rgba(153, 204, 229, 0.59);
    border: whitesmoke 1px solid;
}