.main-header {
    background-color: rgb(65, 175, 231);
    color: whitesmoke;
}

.main-header-content-holder{
    display: flex;
    justify-content: space-evenly;
}


.app-logo {

}

.search-and-buttons {
    width: 60%;
}

.cart-icon {
    width: 40px;
    height: 35px;
}

.user-account-icon {
    width: 40px;
    height: 35px;
}

.search-icon {
    color: whitesmoke;
    width: 25px;
    height: 20px;
}

.header-end-icons {
    display: flex;
    align-self: end;
    justify-self: end;
    gap: 30%;
}