.main-header {
    background-color: rgb(65, 175, 231);
    color: whitesmoke;
}

.main-header-content-holder{
    display: flex;
    justify-content: space-evenly;
}


.app-logo {

}

.search-and-buttons {
    width: 60%;
}

.cart-icon,.user-account-icon  {
    width: 40px;
    height: 25px;
}

.search-icon {
    color: whitesmoke;
    width: 25px;
    height: 20px;
}

.header-end-icons {
    display: flex;
    align-self: end;
    justify-self: end;
    gap: 10%;
}


.cart-button, .user-account-button {
    display: flex;
    background-color: rgb(65, 175, 231);
    border: rgb(65, 175, 231) 1px solid;
    font-size: 12px;
    font-weight: 400;
    padding: 2px;
    margin: 2px;
    align-content: end;
}

.user-account-button  {
    flex-direction: column;
}


.cart-button {
    margin-top: 10px;
    flex-direction: row;
}

.user-account-button:hover, .cart-button:hover {
    background-color: rgba(153, 204, 229, 0.59);
    border: whitesmoke 1px solid;
}
.my-account {
    white-space: nowrap;
}
.cart-text {
   margin-top: 15px;
}