.product-update-page {
    width: 100%;
    min-height: 100vh;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.product-update-page-name-update, .description-update-input-field, .input-category-select,
.product-update-page-discount-update,.product-update-page-price-update, .product-update-page-proportion-update,
.product-update-page-variety-update {
    background-color: transparent;
    border: solid 1px rgba(128, 128, 128, 0.6);
    font-family: Montserrat Montserr sans-serif;
    border-radius: 8px;
    padding: 5px 10px;
}

.product-update-page-description-update {
    background-color: transparent;
    padding: 0;
}

.product-update-page-description-update{
    border: none;
}


.product-update-page-name-update:focus,
.description-update-input-field:focus,
.input-category-select:focus,
.product-update-page-variety-update:focus,
.product-update-page-proportion-update:focus,
.product-update-page-price-update:focus,
.product-update-page-discount-update:focus {
    outline: none;
    background-color: transparent;
}




.product-update-page-categories {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 5px;
}

.selected-categories {
    display: flex;
    flex-wrap: wrap;
}

.product-update-page-proportion-variety-update, .product-price-discount-update-input {
    display: flex;
    width: 100%;
    justify-content: space-between;
}