.app-button,button.app-button:active,
 button.app-button:focus  {
    background-color: #FFC107;
    border: 1px solid #FFC107;
}

button.app-button:hover {
    border: rgba(255, 193, 7, 0.65) solid 1px !important;
    background-color: rgba(255, 193, 7, 0.32) !important;
    color: white;
}



.search-buttons-left {
    border-left: #FFC107 solid 1px;
    border-top: #FFC107 solid 1px;
    border-bottom: #FFC107 solid 1px;
    background-color: #FFC107;
}

.search-buttons-left:hover, .search-buttons-left:active,
.search-buttons-left:checked  {
    border-left:rgba(255, 193, 7, 0.7) solid 1px;
    border-top:rgba(255, 193, 7, 0.7) solid 1px;
    border-bottom:rgba(255, 193, 7, 0.7) solid 1px;
    background-color: transparent;
    color: white;
}


.search-buttons-right:hover,
.search-buttons-right:active, .search-buttons-right:checked {
    border-right: #FFC107 solid 1px;
    border-top: #FFC107 solid 1px;
    border-bottom: #FFC107 solid 1px;
    background-color: transparent;
    color: #FFC107;
}

.search-buttons-right {
    border-right: #FFC107 solid 1px;
    border-top: #FFC107 solid 1px;
    border-bottom: #FFC107 solid 1px;
    background-color: #FFC107;
}